@import "./select.css";

h1 {
  font-size: 36px;
}

p {
  font-size: 16px;
}

.highlight {
  background-color: #ffd700;
  font-weight: bold;
}

.no-results {
  padding: 20px;
  text-align: center;
  color: #666;
}

.text-lg {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  word-wrap: break-word;
  margin: 0;
  padding: 4px 0;
}

.hidden {
  display: none;
}

.text-sm {
  font-size: 12px;
  margin: 0;
  font-weight: light;
}

.gray {
  color: gray;
}

.m-auto {
  margin: auto;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.align-icon {
  margin-top: 8px;
  margin-right: 8px;
}

.fit-content {
  height: max-content;
  width: fit-content;
}

.h-100 {
  height: 100%;
}

.h-20 {
  height: 20%;
}

.h-500px {
  height: 500px;
}

.w-100 {
  width: 100%;
}

.items-center {
  justify-items: center;
}

.icon {
  font-size: 24px;
}

.icon-sm {
  font-size: 16px;
}

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.p-4 {
  padding: 16px;
}

.p-0 {
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.map-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
  padding: 8px;
  gap: 16px;
  border-radius: 8px;
}

.radius-sm {
  border-radius: 16px;
}

.ml-1 {
  margin-left: 4px;
}

.mr-1 {
  margin-right: 4px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.info-container {
  height: 100vh;
  width: 100vw;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  width: 400px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-button {
  background-color: #ccc;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.table {
  width: 32rem;
  height: 12rem;
  padding: 8px;
  text-align: center;
}

table {
  width: 100%;
  height: 12rem;
  border-collapse: collapse;
}

tr {
  background: #cbdfc5;
  border: none;
}

td {
  border-bottom: 1px black solid;
  margin: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

th {
  background-color: #74ae27b0;
}

.filter {
  border: 2px solid black;
  width: 32rem;
  height: 12rem;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.filter h1 {
  font-size: 20px;
  align-self: flex-start;
}

.filter-input {
  border: 2px solid black;
  width: 40%;
  margin: 12px;
  height: 2rem;
  transition: 1s;
}

.filter-input:hover {
  height: 8rem;
}

.section-indicator {
  border: blue 2px solid;
}

select {
  min-height: 16px !important;
  min-width: 20px !important;
  z-index: 10;
}

select option {
  padding: 4px;
}

.map {
  height: 520px;
  z-index: -2;
}

.grid {
  display: grid;
}

.grid-auto {
  grid-template-columns: auto;
}

.font-size {
  font-size: 40px;
}

.cards {
  height: 16rem;
  width: 100%;
}

.card1 {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  width: 240px;
  height: 180px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 24px;
  transition: 0.5s;
}

.card1:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  background-color: #d9e2d6;
}

.overlay {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.486);
  height: 100%;
  border-radius: 20px;
}

.align-items-end {
  align-items: end;
}

.z-100 {
  z-index: 1000;
}

.z-index-bg {
  z-index: -1000;
}

.discription {
  margin: 20px;
  line-height: 8px;
  font-weight: lighter;
}

.overlay-content {
  padding: 20px;
  background-color: #cbdfc5;
  border-radius: 20px;
  justify-content: center;
  width: 100%;
  height: 25%;
}

button {
  height: 50px;
  width: 125px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a1b39b;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 42rem;
  justify-content: start;
  align-items: center;
}
