h1 {
  font-size: 36px;
}

p {
  font-size: 16px;
}

.text-lg {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  word-wrap: break-word;
  margin: 0;
  padding: 4px 0;
}

.text-sm {
  font-size: 12px;
  margin: 0;
  font-weight: light;
}

.gray {
  color: gray;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-icon {
  margin-top: 8px;
  margin-right: 8px;
}

.alignment {
  align-items: center;
}

.fit-content {
  height: max-content;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.items-center {
  justify-items: center;
}

.icon {
  font-size: 24px;
}

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.space-evenly {
  justify-content: space-evenly;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.map-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
  padding: 8px;
 
  gap: 16px;
  border-radius: 8px;
}

.map {
  height: 520px;
  border: 2px solid black;
  z-index: -2;
}

.jc-space-even {
  justify-content: space-evenly;
}

.font-size {
  font-size: 40px;

}

.cards {

  height: 16rem;
  width: 100%;


}

.card1 {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  width: 240px;
  height: 180px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 24px;
  transition: .5s;
}
.card1:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  background-color: #d9e2d6;
}

.disc {
  
  width: 100%;
  background-color: rgba(255, 255, 255, 0.486);
  height:100%;
  border-radius: 20px;
  z-index: 1000;
  position: relative;
  align-items: baseline;
  
}
.z-index-bg{
  z-index: -1000;
}

.discription {
  margin: 20px;
  line-height: 8px;
  font-weight: lighter;
}
.dis-cont{
  border: 2px solid black;
  background-color: #cbdfc5;
  border-radius: 20px;
  align-items: baseline;
  width: 100%;
  height: 12rem;
  margin-top: auto;
  }

.h-500px {
  height: 500px;
}

.radius-sm {
  border-radius: 16px;
}

.info-container {
  height: 100vh;
  width: 100vw;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  width: 400px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-button {
  background-color: #ccc;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.cont {

  width: 100%;

  display: flex;
  flex-direction: column;
  height: 42rem;
  justify-content: start;
  align-items: center;
}

.table {

  width: 32rem;
  height: 12rem;
  padding: 8px;

  text-align: center;

}

table {
  width: 100%;
  height: 12rem;

  border-collapse: collapse;
}

tr {
  background: #cbdfc5;
  border: none;
}

td {
  border-bottom: 1px black solid;
  margin: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

th {
  background-color: #74ae27b0;
}

.filter {
  border: 2px solid black;
  width: 32rem;
  height: 12rem;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.filter h1 {
  font-size: 20px;
  align-self: flex-start;
}

.filt-input {
  border: 2px solid black;
  width: 40%;
  margin: 12px;
  height: 2rem;
  transition: 1s;
}

.filt-input:hover {
  height: 8rem;
}

/* .search-button i {
  width: 20px; 
  height: 20px;
} */